<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>Kateqoriya: {{ currentCategoryName }}</h4>
    <div class="container-fluid">
      <div class="grid-container">
        <!-- loop over the collection of products -->
        <div *ngFor="let tempProduct of products" class="col-md-6">
          <div class="product-box">
            <a routerLink="/products/{{ tempProduct.id }}">
              <img
                alt=""
                src="{{ tempProduct.imageUrl }}"
                class="img-responsive"
              />
            </a>
            <a routerLink="/products/{{ tempProduct.id }}">
              <h1>{{ tempProduct.name }}</h1>
            </a>

            <div class="price">
              {{ tempProduct.unitPrice | currency : "USD" }}
            </div>
            <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to cart</button>
          </div>
        </div>
      </div>
      <!-- begin footer -->

      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style=" padding-left: 10px;">
                <ngb-pagination
                  [collectionSize]="totalElements"
                  [(page)]="thePageNumber"
                  [pageSize]="thePageSize"
                  (pageChange)="listOfProducts()"
                  [maxSize] = "4"
                  [boundaryLinks]="true"
                >
                </ngb-pagination>
              </div>
              <div class="col-md-3 mt-2" style="text-align: right">
                  <span class="mr-2">Səifə sayı </span>
                  <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                    <option>2</option>
                    <option>5</option>
                    <option selected="true">10</option>
                    <option>15</option>
                    <option>20</option>
                  </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end foooter-->
    </div>
  </div>
</div>
